
.hero-image {
  max-width: 100%;
}

figure {
  margin-left: 0;
  float: left;
}

figure img {
  width: 192px;
  height: 192px;
}

article {
  padding-top: 1em;
  overflow: auto;
}

article::after {
  content: "";
  clear: both;
  display: table;
}