<header>
  <h1><a href="/"><img eleventy:widths="64" loading="" src="{{metadata.logo.src}}" alt="{{metadata.logo.alt}}"></a> {{ metadata.title }}</h1>

  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  {% if metadata.useNavigation %}
    <nav>
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
