---
layout: layouts/base.njk
---
{% from "macros/article.njk" import article %}
{# Only include the syntax highlighter CSS on blog posts #}
{% css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{% css %}{% include "includes/css/prism-diff.css" %}{% endcss %}
<h2>{{ title }}</h2>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{% for tag in tags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}</li>
	{% endfor %}
</ul>

<article>
  {{ article(page, content) }}
</article>

{% if collections.posts %}
  {% set previousPost = collections.posts | getPreviousCollectionItem %}
  {% set nextPost = collections.posts | getNextCollectionItem %}
  {% if nextPost or previousPost %}
    <ul class="links-nextprev">
	    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
  {%- endif %}
{%- endif %}
