---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on project posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "includes/css/prism-diff.css" %}{%- endcss %}
<h2>{{ title }}</h2>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<article>
  <figure class="hero-image">
    <img src="{{hero.src}}" alt="hero.alt" title="hero.title" eleventy:widths="128,64" eleventy:sizes="100vh">
    {% if hero.caption %}
      <figcaption>{{ hero.caption }}</figcaption>
    {% endif %}
  </figure>
  {{ content | safe }}
</article>

{%- if collections.projects %}
  {%- set previousPost = collections.projects | getPreviousCollectionItem %}
  {%- set nextPost = collections.projects | getNextCollectionItem %}
  {%- if nextPost or previousPost %}
    <ul class="links-nextprev">
	    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
  {%- endif %}
{%- endif %}
