---
eleventyExcludeFromCollections: true
permalink: /.well-.known/security.txt
---
Contact: mailto:security@thekeithfamily.us
Expires: {{ expiryDate }}
Preferred-Languages: en
Canonical: https://thekeithfamily.us/.well-known/security.txt