---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
	David W. Keith

/* THANKS */

/* SITE */

Build Date: {{currentBuildDate}}

# TODO: Create a build info helper https://www.aleksandrhovhannisyan.com/blog/eleventy-build-info/
