---
title: DWK's Cyber Home
layout: layouts/base.njk
changeFreq: weekly
numberOfLatestPostsToShow: 10
---
<h2>Projects</h2
{% set postsCount = collections.projects | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.projects | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/projects/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
  {%- for entry in collections.all %}
  <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
  {%- endfor %}
</ul>
#}
