
.hero-image picture img, article picture img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* 
	The 🔗 emoji is used for header anchors links
*/
.header-anchor {
	font-size: 0.5rem;
	vertical-align: super;
}