.style {
    padding: 0px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_External_670_74 {
    position: relative;
}
.style_SkipStroke_1 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.Header {
    color: rgb(161, 20, 17);
    font-family: 'Impact', sans-serif;
    font-size: 60px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.01em;
    line-height: 74px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 47px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Normal {
    padding: 0px;
}
.Normal_External_670_74 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget4 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget5 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget6 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget2 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget3 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#id2 canvas {
    z-index: -1;
}
#id2 div.caption span.metric {
    color: rgb(161, 20, 17);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: uppercase;
}
#id2 div.caption {
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
    white-space: nowrap;
}
#widget4 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget6 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget2 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget2 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget6 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget7 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget8 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget5 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget8 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget9 .Comment_Posted_Date {
    color: rgb(0, 0, 0);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget9 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget9 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget8 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget7 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#id2 div.caption span.title {
    color: rgb(157, 135, 72);
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.05em;
    line-height: 24px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: uppercase;
}
#widget9 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget4 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget5 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget7 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget3 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget8 .Comment_Posted_Date {
    color: rgb(0, 0, 0);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget3 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
