.style {
    padding: 0px;
}
.style_1 {
    padding: 4px;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_2.vertical-align-middle-innerbox {
    padding: 4px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_External_670_74 {
    height: 74px;
    width: 670px;
}
.paragraph_style {
    color: rgb(161, 20, 17);
    font-family: 'HoeflerText-BlackItalic', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style_External_634_44 {
    height: 44px;
    width: 634px;
}
.style_External_634_37.vertical-align-middle-middlebox {
    height: 37px;
    width: 634px;
}
.Body {
    color: rgb(161, 20, 17);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: rgb(161, 20, 17);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Header {
    color: rgb(161, 20, 17);
    font-family: 'Impact', sans-serif;
    font-size: 60px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.01em;
    line-height: 74px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 47px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Normal.vertical-align-middle-innerbox {
    padding: 0px;
}
.Normal_External_634_44.vertical-align-middle-middlebox {
    height: 44px;
    width: 634px;
}
.Normal_External_670_74.vertical-align-middle-middlebox {
    height: 74px;
    width: 670px;
}
.Normal_External_634_37.vertical-align-middle-middlebox {
    height: 37px;
    width: 634px;
}
.Title {
    color: rgb(157, 135, 72);
    font-family: 'Impact', sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.05em;
    line-height: 29px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.image_cluster_layout_style_default {
    padding: 0px;
}
.image_cluster_layout_style_default_External_218_42 {
    position: relative;
}
a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget2 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget0 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#widget1 a {
    color: rgb(161, 20, 17);
    text-decoration: none;
}
#id3 div.caption {
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
}
#widget1 .Comment_Posted_Date {
    color: rgb(0, 0, 0);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget2 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget2 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#id3 div.caption span.title {
    color: rgb(161, 20, 17);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: uppercase;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget1 {
    display: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget2 .Comment_Posted_Date {
    color: rgb(0, 0, 0);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget1 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget1 .Caption {
    color: rgb(161, 20, 17);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#widget0 .Comment_Posted_Date {
    color: rgb(0, 0, 0);
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#id3 canvas {
    z-index: -1;
}
#widget1 a:visited {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
#widget0 a:hover {
    color: rgb(158, 135, 73);
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
