---
eleventyExcludeFromCollections: true
permalink: /.well-.known/security.txt
---
Contact: mailto:security@dwk.io
Expires: {{ expiryDate }}
Preferred-Languages: en
Canonical: https://contab.dwk.io/.well-known/security.txt