---
title: David & Shawna
date: 2010-10-10
layout: layouts/base.njk
---
<nav>
  <ul>
    <li class="button" id="wedding-button">Wedding</li>
    <li class="button" id="tour-dates-button">Tour Dates</li>
    <ul>
      <li role="button" class="button" id="san-jose-details-button">
        San Jose
      </li>
      <li role="button" class="button" id="boston-details-button">
        Boston
      </li>
      <li role="button" class="button" id="kansas-city-details-button">
        Kansas City
      </li>
    </ul>
    <li class="button" id="about-us-button">About Us</li>
  </ul>
</nav>
<article id="wedding" class="image hidden">
  <h1>Thank You!</h1>
  <img
    src="images/two-ring-new-york.jpg"
    alt="Rosen &amp; Keith Present: The Culmination of a Spectacular Romance unlike any other. Shawna Rosen, Sparkling Diamond of the Galaxy, and David W. Keith, Noted Cryptographer &amp; Renaissance Man, tied the know with much rejoicing in the Wedding Sensation of the Year. 10th of October two thousand &amp; ten on 42nd Street at the Crosswroads of the World: New York, New York."
  />
  <p class="invite-tag-line">
    Invitation design by
    <a href="http://royalsteamline.com/">Royal Steamline</a>
  </p>
</article>
<article id="about-us" class="hidden">
  <h1>About Us</h1>
  <p>
    David grew up in Vermont and Massachusetts, went to college in Iowa, and
    lived in Minnesota for seven years before moving to California in
    <time>2006</time>. He has been developing web sites since high school,
    and after a few years in retail (first at Ultimate Electronics, and then
    at Apple as an Assistant Manager and Genius), he came to Apple
    headquarters and got back to coding. The first two years he developed
    tools for Apple retail, and since <time>2008</time> he has been writing
    code for <a href="http://developer.apple.com/">developer.apple.com.</a>
  </p>
  <p>
    Shawna hails from Overland Park, Kansas, a suburb of Kansas City. She
    got her journalism degree and promptly went into web content development
    for the University of Kansas, About.com, and then MacResQ (an Apple
    reseller). When Apple opened a retail store in Kansas City, Shawna
    became a Mac Genius, and after a few years found an ideal role with
    Apple in Cupertino. Since <time>2008</time> she has been a technical
    writer for AppleCare, creating service manuals and training for Apple
    technicians.
  </p>
  <h2>How We Met...</h2>
  <p>
    In June 2008, a coworker in Shawna’s department, who had been part of
    the retail internship program the same year as David, set up a work
    meeting where we first met. Then we kept bumping into each other at work
    events and parties over the next couple months. For our first date, on
    08-08-08, we went on a whale watching cruise off the coast of Monterey.
  </p>
  <p>
    Shawna knew that David was something special the first time she visited
    his apartment and saw two photos on his wall: one that showed him using
    a vintage Mac computer in his high school senior photo, and the other
    where he &amp; his siblings were posing with Mickey Mouse! That evening
    he also impressed her with his cooking and his musical tastes (<a
      href="http://itunes.apple.com/us/artist/tom-lehrer/id13119867"
      >Tom Lehrer</a
    >, anyone?)
  </p>
  <p>
    We got engaged on 12-03-2009 in front of Cinderella Castle at Walt
    Disney World. Our rings were created by Krikawa Jewelry Designs in
    Tucson, Arizona. The design is an eternity symbol (an “<a
      href="http://www.google.com/search?q=apple+computer+1+infinite+loop"
      >infinite loop</a
    >,” perhaps?) inspired by a medieval sword. Shawna’s ring has diamonds,
    and David’s has sapphires.
  </p>
  <div id="about-us-ring-photos">
    <img src="images/shawna-ring.jpg" alt="Shawna's ring" />
    <img src="images/david-ring.jpg" alt="David's ring" />
  </div>
  <h2>Our Wedding</h2>
  <p>
    Choosing our wedding date of 10-10-10 was very easy. We first thought of
    it because we had started dating on 08-08-08, but then realized to much
    delight that 101010 in binary equals 42! If you aren’t familiar with
    <em>The Hitchhiker's Guide to the Galaxy</em>, 42 is “the answer to
    life, the universe, and everything.” Yes, we really are this nerdy!
  </p>

  <p>
    With family &amp; friends spread all over the country, we had thought
    about having the wedding in New England (where most of David’s family
    lives), Kansas City (where most of Shawna’s family lives), or Northern
    California (where we live). But no matter which location we picked, most
    of our guests would have to travel. We knew that for many of our family
    &amp; friends, time and/or money might keep them from celebrating with
    us. So we decided to have a very small ceremony in New York City on
    10-10-10 (on the iconic 42<sup>nd</sup> Street, of course!), followed by
    parties in San Jose, Boston and Kansas City.
  </p>

  <p>
    David wore a traditional kilt outfit in the Keith family tartan, which
    was made in Scotland. Shawna wore a navy blue velveteen dress recreated
    from a German style circa <time>1525</time>. The ceremony was a
    traditional hand-fasting, a simple wedding style that was popular in
    Europe until the mid 1700s. Two cords were used to “tie the knot,” one
    created by and representing Shawna’s family, the other David’s family.
    By popular request, we will repeat our (short) ceremony at all three
    receptions.
  </p>
</article>
<article id="tour-dates" class="image hidden">
  <img src="images/two-ring-enclosure.jpg" alt="David & Shawna's rings" />
  <p class="invite-tag-line">
    Invitation design by
    <a href="http://royalsteamline.com/">Royal Steamline</a>
  </p>
</article>

<article id="san-jose-details" class="tour-details hidden">
  <h1>San Jose, California</h1>

  <table>
    <tr>
      <td>Where:</td>
      <td>Our Home</td>
    </tr>
    <tr>
      <td>When:</td>
      <td>
        Saturday, December 4th, 2010<br />
        3:30 in the afternoon<br />
        <br />
        4:00 ceremony<br />
        4:30 curbside dinner<br />
        6:30 dessert
      </td>
    </tr>
    <tr>
      <td>Menu:</td>
      <td>
        <a href="http://bbqkalbi.com/">BBQ Kalbi Korean Fusion</a><br />
        tacos &amp; burritos with choice of <br />
        beef, spicy pork or chicken, teriyaki chicken, tofu, unagi<br />
        bibimbahp burrito<br />
        kalbi (beef) cheese steak<br />
        kimchi quesadilla<br />
        <br />
        organic California steam homebrew<br />
        organic 90 shilling Scottish ale homebrew<br />
        <br />
        <a href="http://www.bebecakescupcakery.com/"
          >beb&eacute;cakes cupcakes</a
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        Renaissance, steampunk, or historic period costume of your choice is
        encouraged but not required!
      </td>
    </tr>
  </table>
  <div id="san-jose-map"></div>
</article>

<article id="boston-details" class="tour-details hidden">
  <h1>Boston, Massachusetts</h1>
  <table>
    <tr>
      <td>Where:</td>
      <td>
        <a href="http://www.unionoysterhouse.com/"
          >Union Oyster House<br />
          41 Union Street</a
        >
      </td>
    </tr>
    <tr>
      <td>When:</td>
      <td>
        Sunday, December 19th, 2010<br />
        <time>11:30 in the morning</time><br />
        <br />
        12:00 buffet lunch<br />
        1:30 ceremony<br />
        2:00 dessert
      </td>
    </tr>
    <tr>
      <td>Menu:</td>
      <td>
        caesar salad<br />
        clam chowder<br />
        cornbread<br />
        poached salmon over greens, with dill sauce<br />
        old fashioned Yankee pot roast<br />
        <br />
        beer, wine, soda, &amp; coffee<br />
        <br />
        <a href="http://www.kickasscupcakes.com/">Kickass Cupcakes</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        Renaissance, steampunk, or historic period costume of your choice is
        encouraged but not required!
      </td>
    </tr>
  </table>
  <div id="boston-map"></div>
</article>

<article id="kansas-city-details" class="tour-details hidden">
  <h1>Kansas City, Missouri</h1>
  <table>
    <tr>
      <td>Where:</td>
      <td>
        <a href="http://www.blvdbeer.com/"
          >Boulevard Brewery<br />
          2501 Southwest Boulevard</a
        >
      </td>
    </tr>
    <tr>
      <td>When:</td>
      <td>
        Tuesday, December 28th, 2010<br />
        <time>5:30 in the evening</time><br />
        <br />
        5:30 cocktail dinner<br />
        7:30 ceremony<br />
        8:00 dessert
      </td>
    </tr>
    <tr>
      <td>Menu:</td>
      <td>
        <a href="http://www.jackstackbbq.com/"
          >Fiorella's Jack Stack Barbecue</a
        ><br />
        beef burnt ends<br />
        whole salmon<br />
        mini sandwiches: BBQ brisket, turkey, and vegetarian<br />
        brandy peppercorn meatballs<br />
        salmon mousse in phyllo<br />
        spinach cream cheese stuffed mushrooms<br />
        vegetables with ranch dip<br />
        fruit, cheese &amp; crackers<br />
        <br />
        Boulevard beer on tap<br />
        Boulevard wine<br />
        soda and coffee<br />
        <br />
        wedding cake<br />
        almond marble with chocolate ganache<br />
        red velvet with cream cheese
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        Renaissance, steampunk, or historic period costume of your choice is
        encouraged but not required!
      </td>
    </tr>
  </table>
  <div id="kansas-city-map"></div>
</article>
